<ion-view class="rewardsView" view-title="Rewards" hide-nav-bar="true">

  <ion-content class="content">
    <ion-list>

      <ion-checkbox ng-model="$root.filter.step1"><i class="icon ion-android-car"></i> &nbsp; Parking</ion-checkbox>
      <ion-checkbox ng-model="$root.filter.step2"><i class="icon ion-android-clipboard"></i> &nbsp; Check-in</ion-checkbox>
      <ion-checkbox ng-model="$root.filter.step3"><i class="icon ion-locked"></i> &nbsp; Security</ion-checkbox>
      <ion-checkbox ng-model="$root.filter.step4"><i class="icon ion-bag"></i> &nbsp; Shopping</ion-checkbox>
      <ion-checkbox ng-model="$root.filter.step5"><i class="icon ion-android-plane"></i> &nbsp; Departure</ion-checkbox>

    </ion-list>
  </ion-content>
</ion-view>