<ion-view class="rewardsView" view-title="Rewards" hide-nav-bar="true">

  <ion-content class="content">
    <ion-list>

      <ion-checkbox ng-model="$root.filter.step1"><i class="icon ion-android-car"></i> &nbsp; Parking/Arriving <p ng-model="filter.step1.time" class="pull-right">17:00</p></ion-checkbox>
      <ion-checkbox ng-model="$root.filter.step2"><i class="icon ion-android-clipboard"></i> &nbsp; Check-in <p ng-model="filter.step1.time" class="pull-right">17:25</p></ion-checkbox>
      <ion-checkbox ng-model="$root.filter.step3"><i class="icon ion-locked"></i> &nbsp; Security <p ng-model="filter.step1.time" class="pull-right">17:45</p></ion-checkbox>
      <ion-checkbox ng-model="$root.filter.step4"><i class="icon ion-bag"></i> &nbsp; Shopping <p ng-model="filter.step1.time" class="pull-right">18:00</p></ion-checkbox>
      <ion-checkbox ng-model="$root.filter.step5"><i class="icon ion-android-plane"></i> &nbsp; Go to Gate <p ng-model="filter.your_filed_departuretime" class="pull-right">18:45</p></ion-checkbox>
      <div class="item item-divider">
        Rewards
      </div>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-coffee"></i>
        10 points for Large coffee
        <span class="item-note">
          at Butlers
        </span>
      </a>
    </ion-list>
    <div class="bar bar-footer bar-red">
      <div class="title">{{points}} <img src="img/coin.png"></div>
    </div>
  </ion-content>
</ion-view>