<ion-tabs class="tabs-striped tabs-icon-top tabs-top tabs-background-green tabs-color-dark">

  <!-- Pets Tab -->
  <ion-tab title="Home" icon="icon ion-home" href="#/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Adopt Tab -->
  <ion-tab title="Search Flight" icon="icon ion-search" href="#/tab/searchFlight">
    <ion-nav-view name="tab-searchFlight"></ion-nav-view>
  </ion-tab>

  <!-- About Tab -->
  <ion-tab title="Rewards" icon="icon ion-coffee" href="#/tab/rewards">
    <ion-nav-view name="tab-rewards"></ion-nav-view>
  </ion-tab>

</ion-tabs>